@import "colors";

.footer {
	background:white;
	color:$darkGray;
	font-size:16px;
	font-weight:700;

	.content {
		justify-content: space-between;
		align-items: flex-start;
		margin: 0px auto;
		padding:55px 25px 25px 25px;;
	}

	a {
		color:$darkGray;
		transition:color 0.3s;

		&:hover {
			color: $lightBlue;
		}
	}

	ul {

	}

	li {
		margin-bottom: 8px;
	}

	.footer-tile {
		display: flex;
		flex-wrap:wrap;
		height:auto;
	}

	.footer-tile-header {
		font-weight:400;
		font-size:18px;
		color:$gray;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size:1.2em;
		width:100%;
		margin-bottom: 20px;
	}

	.general-tile {
		text-transform: uppercase;

		.sub-menu {
			margin-top:5px;
			margin-left:34px;

			li {
				text-transform: none;
			}
		}
	}

	.info-tile {

		li {
			margin-bottom:30px;
		}
	}

	.social-icon-list {

		li {
			text-align:center;
			width:35px;
			height:35px;
			color:white;
			background-color:$darkGray;
			border-radius:50%;
			display: inline-block;
			margin-right:3px;
			transition:background-color 0.3s;

			&:hover {
				background-color: $lightBlue;
			}
		}

		i {
			font-size:20px;
			line-height:35px;
		}

	}

	.other-tile {
		text-transform: uppercase;
	}
}

.sub-footer {
	width:100%;
	margin-top:20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.copyright {
	font-size: 14px;
	font-weight: 400;
	color:$gray;
}

.logo-mark {
	padding-left:43px;

	img {
		width:35px;
		height:auto;
	}
}

.payment-types {
	color:$gray;
	padding-left:20px;

	i {
		font-weight: 400;
		margin-right:2px;
		font-size:20px;
	}
}

// 1024px And Below
@media screen and (max-width: 1024px){

	.footer {

	}
}


// 767px And Below
@media screen and (max-width: 767px){

	.footer {

		.content {
			padding:0px 25px 26px 25px;;
		}

		.footer-tile {
			display: flex;
			flex-wrap:wrap;
			height:auto;
			padding:40px 0px 20px 0px;
		}
	}

	.sub-footer {
		width:100%;
		margin-top:20px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}

	.copyright {
		width:auto;
		order:3;
		font-size: 14px;
		font-weight: 400;
		color:$gray;
	}

	.logo-mark {
		width:auto;
		order:2;
		padding-left:0px;
		margin-right:10px;

		img {
			width:35px;
			height:auto;
		}
	}

	.payment-types {
		order:1;
		padding-left:0px;
		margin-bottom:10px;

		i {
			margin-right:3px;
			font-size:28px;
		}
	}
}
